name: Deploment Exercise 1
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v5
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Run Lint
        run: npm run lint
      - name: Run test
        run: npm run test
      - name: Run build
        run: npm run build
      - name: Deplo code
        run: echo "Deploing..."